{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>Nhóm 2</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <p>Nguyễn Mạnh Đức - 102190058</p>
            <p>Nguyễn Lê Nhật Minh - 102190075</p>
            <p>Nguyễn Công Quang - 102190085</p>
        </div>
    </div>
</div>
{% endblock content %}
