{% extends 'restaurant/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12 text-center mt-3">
            <h1>Order ID: {{ order.pk }}</h1>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-12 com-sm-12 mt-5">
            <h3>Thông tin khách hàng:</h3>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6 com-sm-12 mt-5">
            <p><span style="font-weight: 400;">Tên khách hàng:</span> {{ order.name }}</p>
            <p><span style="font-weight: 400;">Email:</span> {{ order.email }}</p>
            <p><span style="font-weight: 400;">Số điện thoại:</span> {{ order.phone }}</p>
            <h5 class="pt-3">Thông tin địa chỉ:</h5>
            <p><span style="font-weight: 400;">Số đường:</span> {{ order.street }}</p>
            <p><span style="font-weight: 400;">Thành phố:</span> {{ order.city }}</p>
        </div>
    </div>
</div>
{% endblock content %}
